body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: Helvetica, serif;
}

.weekday
{
    border: 1px dashed black;
    width: 180px;
    float: left;
    height: 1200px;
    position: relative;
}

.weekday-title {
    font-weight: bold;
    text-align: center;
}

.weekday-events {

}

.event {
    position: absolute;
    color: white;
    background-color: crimson;
    width: 180px;
    cursor: move;
    box-sizing: border-box;
    padding:10px;
    border: 1px solid maroon;
}